
* {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #fab1a0;
}

input[type="radio"], input[type="checkbox"], label {
	display: inline-block;
}
label::after {
	content:"";
	display: block;
}

#Bestellung {
	background-color:white;
}

head {
	display: none;
}
input:invalid {
	background: #F0C060;
}
input:valid {
	background: white;
}
input:required {
	background: #aaaaaa;
}

fieldset {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	background-color: #55efc4;
	border-color: white;
	margin-bottom: 1%;
}

fieldset 

svg, figure, button, option {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#fix {
    max-width: 300px;
}