/* CSS */
body {
    background-color:#58FAD0;
    height: 600px;
}

#hand {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#spielfeld{
    width: 200px;
    height: 300px;
    border: 4px solid white;
    margin-left: 40%;
    margin-bottom: 10%;
}

#stapel {
    width: 200px;
    height: 300px;
    background: #F3F781;
    border: 4px solid white;
    border-radius: 10px; 
    display: block;
    margin-left: 75%;
    margin-top: 2%;
}
.cards {
    width: 200px;
    height: 300px;
    background: #FE9A2E;
    border: 4px solid white;
    border-radius: 10px; 
}
